.sideBarList {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sideBarList::-webkit-scrollbar {
    display: none;
}

.sideBar__item-rain {
    background: rgb(184, 198, 219);
    background: -moz-linear-gradient(90deg, rgba(184, 198, 219, 1) 0%, rgba(245, 247, 250, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(184, 198, 219, 1) 0%, rgba(245, 247, 250, 1) 100%);
    background: linear-gradient(90deg, rgba(184, 198, 219, 1) 0%, rgba(245, 247, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8c6db", endColorstr="#f5f7fa", GradientType=1);
}

.sideBar__item-on {
    background: rgb(99, 164, 255);
    background: -moz-linear-gradient(90deg, rgba(99, 164, 255, 1) 0%, rgba(131, 234, 241, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(99, 164, 255, 1) 0%, rgba(131, 234, 241, 1) 100%);
    background: linear-gradient(90deg, rgba(99, 164, 255, 1) 0%, rgba(131, 234, 241, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63a4ff", endColorstr="#83eaf1", GradientType=1);
}

.sideBar__item-off {
    background: rgb(255, 78, 0);
    background: -moz-linear-gradient(90deg, rgba(255, 78, 0, 1) 0%, rgba(236, 159, 5, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 78, 0, 1) 0%, rgba(236, 159, 5, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 78, 0, 1) 0%, rgba(236, 159, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4e00", endColorstr="#ec9f05", GradientType=1);
}